*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.sale{
    padding: 0px 20px;
    background-color: peru;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.sale p{
    color: white;
}
.sale ul{
    display: flex;
}
.sale ul li{
    margin: 10px;
}
.sale ul li a{
    color: white;
}
